.comments-dashboard-container {
    border-radius: 10px;
    margin:20px;
    margin-top: 20px;
    display:grid;
    padding:20px;
    height: auto;
    min-height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.comments-dashboard-title{
    border-radius: 10px;
    margin:20px;
    margin-bottom: 0%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.comments-dashboard-table {
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.comments-dashboard-spin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}