.card {
  width: 400px;
  background: #f1f1f1;
  overflow: hidden;
  box-shadow: 0px 0px 20px #000000b3;
}
.image-card-styles{
  object-fit:cover !important;
}
.card-header {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.card-header img {
  height: 100%;
  width: 400px;
}
.card-header .name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  opacity: 0.7;
}
.card-header .last {
  display: block;
  font-size: 36px;
}
.container {
  padding: 20px;
  overflow: hidden;
}
.left-section {
  width: auto;
  overflow: hidden;
  float: left;
}
.left-section h3 {
  color: #f19e18;
}
.left-section p {
  margin: 9px 0;
  text-align: justify;
}
.left-section .salirbtn {
  width: 100px;
  background: #f19e18;
  color: white;
  text-align: center;
  display: block;
  padding: 8px 0;
  transition: 0.2s all;
  margin: 0 auto;
  border: 0;
}

.item {
  margin: 6px 0;
}
.caract {
  display: block;
  font-size: 20px;
}
.word {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 400px) {
  .card {
    width: 100vw;
  }
}

@media (max-width: 620px) {
  .container {
    width: auto;
    padding: 20px;
  }

  .card-header {
    font-size: 20px;
  }
  .card-header img {
    height: 100%;
    width: 100%;
  }
}
