.card-c {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: -50px;
  overflow: hidden;
  transition: 0.5s ease;
  border-radius: 1rem;
}
.card-course-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.576);
  margin-top: 300px;
  transition: 0.5s ease;
}
.card-c:hover .card-course-content {
  margin-top: 0px;
  padding-top: 20%;
}
.card-c:hover {
  background-position-y: -10px;
}
.contente {
  width: 100%;
  height: 250px;
  padding: 25px;
}
.card-course-button {
  width: 100px;
  margin: 50px auto;
}
