body,
html>div {
    overflow-x: hidden;
}
.dog-profiles-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:60px;
    padding-bottom:60px;
    width: 100vw;
    background: white;
    color: $secondary;
}
#profile-buttons{
    background:$secondary;
    color:white;
    border:0;
}
.dog-profiles-title {
    width: 90vw;
    margin: auto;
    padding: 10px;
}

.dog-profiles-cards {
    display: grid;
    width: 90vw;
    padding: 10px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.dog-card {
    cursor:pointer;
    border: 1px solid #fff;
    width: auto;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    transition: border 0.5s, transform 0.4s;
}

.dog-card:hover {
    opacity: 1;
    border: 1px solid black;
    transform: translateY(-30px);
}

.dog-card>div {
    flex: 1;
}

.dog-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-card-content {
    flex-direction: column;
    padding: 20px;
}

@media(max-width:1000px) {
    .dog-profiles-container{
        height:auto;
    }
    .dog-profiles-cards {
        grid-template-columns: 1fr;
    }

    .dog-card {
        height: auto;
    }
}