.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: $secondary;
  height: auto;
  grid-gap: 10px;
}

.footer_container > div {
  display: flex;
  align-items: center;
  flex-flow: column;
}



.a-styles {
  color: #fff;
  transition: color 0.3s;
}

.a-styles:hover {
  color: grey;

}

.li-styles {
  font-size: 20px;
}

.social-networks {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.map-styles {
  border: solid white;
  border-radius: 5px;
  width: 250px;
  height: 190px;
}

.rights-reserved {
  padding: 20px;
  grid-column: span 4;
}
.rights-reserved>div{
  font-size: 15px;
  width: 100%;
  display:flex;
  justify-content:space-between;
  p{
    align-self: center;
  }
  a{
    width:25%;
    display:flex;
    justify-content:space-around;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .contact-item {
    width: 60%;
    word-break: break-word;
  }
  .footer_container {
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .rights-reserved {
    grid-column: span 1;
  }
  .rights-reserved>div{
    font-size: 15px;
    width: 60%;
    word-break: break-word;
    display:flex;
    align-items:center;
    flex-direction: column;
    a{
      margin-top: 10px;
      width:100%;
      display:flex;
      justify-content:space-between;
      align-items: center;
    }
  }
}
@media (max-width: 290px) {
  .contact-item {
    width: 90%;
    word-break: break-word;
  }
  .footer_container {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .rights-reserved {
    grid-column: span 1;
  }
  .rights-reserved>div{
    font-size: 15px;
    width: 90%;
    word-break: break-word;
    display:flex;
    align-items:center;
    flex-direction: column;
    a{
      margin-top: 10px;
      width:100%;
      display:flex;
      justify-content:space-between;
      align-items: center;
    }
  }
}

