.gallery-container {
  margin: 20px;
  height: auto;
  width: 95vw;
  margin: 20px auto;
  min-height: 100vh;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.gallery__img {
  width: 100%;
  margin: auto;
  display: block;
  cursor: zoom-in;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s, transform 0.4s !important;
}
.gallery__img:hover {
  opacity: 0.8 !important;
  transform:translateY(-5px) !important;
}
.gallery-wait{
    margin: 20px;
    height: auto;
    width: 95vw;
    margin: 20px auto;
    min-height: 100vh;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
@media (max-width: 1000px) {
  .gallery__img {
    width: 90%;
  }
  .gallery-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
