body,html{
  background-color: #F0F2F5;
}
.gallery-container {
  border-radius: 10px;
  margin: 20px;
  height: auto;
  width: 95vw;
  margin: 20px auto;
  min-height: 100vh;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
 }
.gallery__img {
  width: 100%;
  margin: auto;
  min-height: 300px;
  display: block;
  cursor: zoom-in;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s, transform 0.4s !important;
}
.gallery__img:hover {
  opacity: 0.8 !important;
  transform:translateY(-5px) !important;
}
.gallery-wait{
    height: auto;
    width: 95vw;
    margin: 20px auto;
    min-height: 100vh;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.gallery-wait-courses{
  height: auto;
  width: 95vw;
  margin: 20px auto;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
@media (max-width: 1000px) {
  .gallery-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.modal-gallery-content{
  width: 60vw;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 300px minmax(100px,auto);
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}
.modal-gallery-info{
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, $danger, $success);
  padding:20px;
}

.modal-gallery-buttons{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.modal-gallery-date{
 word-wrap: break-word;
}
.modal-gallery-description{
 word-wrap: break-word;
}
@media (max-width: 500px) {
  .modal-gallery-content{
    width: 90vw;
  }
}